#bg {
    background-color: #1d1a1a;
    position: absolute;
    width: 100%;
    height: 300%;
    top: 0px;
    left: 0px;
    z-index: -2;
}
#me {
    color: #FFFFFF;
    position: absolute;
    width: 28%;
    height: 10%;
    font-size: 60pt;
    top: 10%;
    left: 10%;
    font-family: 'Trebuchet MS', sans-serif;
}
#bar a{
    background-color: #FFFFFF;
    position: fixed;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 21pt;
    color: #1d1a1a;
    border-radius: 0px 0px 5px 5px;
    top: -47px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
#bar a:hover {
    top: 0;
}
#home {
    left: 20px;
}
#projects {
    left: 140px;
}
#contact {
    left: 260px;
}
#code img {
    position: absolute;
    border-radius: 40%;
    top: 44px;
    left: 44px;
}
#like {
    color: #FFFFFF;
    position: absolute;
    width: 28%;
    height: 10%;
    font-size: 60pt;
    top: 50%;
    left: 58%;
    font-family: 'Trebuchet MS', sans-serif;
}
#bubble {
    background-color: #2b2626;
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 20%;
}
*{
    scroll-behavior: smooth;
}
#info {
    color: #FFFFFF;
    position: absolute;
    width: 28%;
    height: 10%;
    font-size: 60pt;
    top: 80%;
    left: 10%;
    font-family: 'Trebuchet MS', sans-serif;
}
#project {
    top: 35%;
    position: absolute;
    visibility: hidden;
}